<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ProyectoConnectionString"
            connectionString="Data Source=DESKTOP-8U5PP6Q\SQLEXPRESS;Initial Catalog=Proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.BDAseControlConnectionString"
            connectionString="Data Source=asecontrol.database.windows.net;Initial Catalog=BDAseControl;User ID=valeryn;Password=Vale71425864;Connect Timeout=60;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>