<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
    <strong>Sistema ASE Control &copy; 2020 <a href="https://www.tarimasls.com/">Tarimas LS S.A </a>.</strong> Made by: Estudiantes de Ingenieria en Sistemas de la Universidad Fidelitas.

</footer>
